.anImg{
    background-color: white;
    box-shadow: 3px 3px 3px black;
    /* 공간이 비어있을때 옆으로 보내기 */
    float: left;
}
.anImg .imgTd{
    padding: 10px;
}
.anImg .imgTd img{
    max-height: 147px;
}
.anImg .dataTd{
    font-size: 10px;
    padding: 5px;
}